@media (max-width: 1600px){
  .header-bottom{
    margin-bottom: 60px;
  }
  .title{
    font-size: 45px;
    line-height: 70px;
  }
  .main-screen__title{
    margin-bottom: 15px;
  }
  .main-screen__subtitle{
    font-size: 34px;
    line-height: 60px;
  }
}
@media (max-width: 1600px){}
@media (max-width: 1600px){}
@media (max-width: 1600px){}
@media (max-width: 1600px){}
@media (max-width: 1600px){}
@media (max-width: 1600px){}
@media (max-width: 1600px){}