@import 'reset';
@import 'vars';
@import 'fonts';
@import 'global';

.header-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 0;
  &__call-wrapper{
    display: flex;
    align-items: center;
  }
  &__phone{
    margin-right: 30px;
  }
}

.header-bottom{
  padding: 30px 0;
  border-top: 1px solid rgba(255,255,255, 0.07);
  border-bottom: 1px solid rgba(255,255,255, 0.07);
  margin-bottom: 90px;
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__list-link{
    font-size: 13px;
    line-height: 16px;
    font-weight: 400;
    letter-spacing: 0.1em;
    &:hover{
      color: $accent;
    }
  }
}

.main-screen{
  background-image: url('../images/bg/1.png');
  background-repeat: no-repeat;
  background-position: center -30px;
  margin-bottom: 130px;
   &__offer{
    margin-bottom: 55px;
  }
  &__title{
    margin-bottom: 25px;
    span{
      color: $secondary;
    }
  }
  &__subtitle{
    @extend %rfdewi-300;
    font-size: 42px;
    line-height: 70px;
    font-weight: 300;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 35px;
  }
  &__subtitle-description{
    line-height: 34px;
    text-align: center;
  }
  &__box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-bottom: 30px;
  }
  &__box-item{
    width: 120px;
    padding-bottom: 24px;
    position: relative;
    &:first-child{
      margin-bottom: 146px;
    }
  }
  &__box-item--1{
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/pointer1.svg');
      background-repeat: no-repeat;
      width: 279px;
      height: 87px;
      bottom: -80px;
      left: 0;
    }
  }
  &__box-item--2{
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/pointer2.svg');
      background-repeat: no-repeat;
      width: 279px;
      height: 87px;
      bottom: 0;
      left: 0;
    }
  }
  &__box-item--3{
    text-align: right;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/pointer3.svg');
      background-repeat: no-repeat;
      width: 279px;
      height: 87px;
      bottom: -80px;
      right: 0;
    }
  }
  &__box-item--4{
    text-align: right;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/pointer4.svg');
      background-repeat: no-repeat;
      width: 279px;
      height: 87px;
      bottom: 0;
      right: 0;
    }
  }
  &__btn{
    display: block;
    width: 280px;
    margin: 0 auto;
  }
}

.advantages{
  &__item{
    .list__item-title{
        @extend %rfdewi-600;
        font-size: 15px;
        line-height: 30px;
        font-weight: 600;
      }
    &:nth-child(4){
      .list__item-title{
        min-width: 349px;
      }
    }
  }
  &__item-img{
    min-width: unset;
    max-width: unset;
    margin-bottom: 25px;
    &--wrapper{
      width: 142px;
      height: 107px;
      overflow: hidden;
      object-fit: cover;
      background-image: url('../images/advantages/4.png');
      background-repeat: no-repeat;
      margin-bottom: 20px;
    }
  }
}

.interface{
  position: relative;
  margin-bottom: 0;
  &::before{
    content: '';
    position: absolute;
    background-image: url('../images/bg/2.png');
    background-repeat: no-repeat;
    width: 1100px;
    height: 900px;
    top: -150px;
    left: 0;
    right: 0;
    margin: 0 auto;
    z-index: -3;
  }
  &__box{
    display: flex;
    justify-content: center;
    padding-bottom: 100px;
    position: relative;
    &::before{
      content: '';
      position: absolute;
      background-image: url('../images/interface-man1.png');
      width: 186px;
      height: 690px;
      bottom: -50px;
      left: 0;
      z-index: -1;
    }
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/interface-man2.png');
      width: 233px;
      height: 690px;
      bottom: -50px;
      right: 0;
      z-index: -1;
    }
  }
  &__box-img{
    z-index: -2;
  }
}

.make-money{
  position: relative;
  &::before{
    content: '';
    position: absolute;
    background-image: url('../images/bg/3.png');
    background-repeat: no-repeat;
    left: 0;
    right: 0;
    top: 100px;
    margin: 0 auto;
    width: 583px;
    height: 597px;
    z-index: -3;
  }
  &__inner{
    display: flex;
    justify-content: space-between;
    z-index: 1;
  }
  &__inner-part{
    width: 370px;
  }
  &__inner-img{
    background: linear-gradient(353.88deg, #141B23 6.58%, rgba(20, 27, 35, 0) 43.08%);
    z-index: -1;
  }
  &__part-title{
    @extend %rfdewi-700;
    font-size: 15px;
    line-height: 30px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
    max-width: 332px;
    margin: 0 auto 35px;
  }
}
.quote-box{
  width: 100%;
  padding: 25px 50px;
  background: linear-gradient(332.85deg, rgba(3, 142, 233, 0.1) 16.95%, rgba(20, 27, 35, 0) 86.86%), #141B23;
  box-shadow: 0px 30px 100px rgba(255, 255, 255, 0.06), inset 0px 0px 120px rgba(255, 255, 255, 0.16);
  border-radius: 10px;
  @extend %montserat-italic;
  font-size: 15px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  z-index: 2;
  margin-top: -40px;
}

.result{
  &__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
    grid-gap: 30px 25px;
    grid-template-rows: max-content;
    counter-reset: result-counter;
    list-style: none;
  }
  &__list-item{
    counter-increment: result-counter;
    position: relative;
    padding: 30px 17px 40px 30px;
    margin-bottom: 0;
    border-radius: 10px;
    &::before{
      content: '0' counter(result-counter);
      position: absolute;
      @extend %montserat-500;
      font-size: 16px;
      line-height: 25px;
      font-weight: 500;
      color: #bdbfc5;
      text-align: center;
      right: 30px;
      top: 40px;
    }
  }
  &__item-text{
    @extend %montserat-400;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    margin-top: 25px;
  }
}

.developers{
  &__inner{
    display: flex;
    align-items: center;
  }
  &__img{
    margin-left: -30px;
  }
  &__inner-description{
    max-width: 755px;
    margin-left: 25px;
  }
  &__title{
    font-size: 53px;
    text-align: left;
  }
  &__inner-text{
    @extend %montserat-400;
    margin-bottom: 35px;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
  }
  &__statistic{
    display: flex;
    justify-content: space-between;
    margin-top: -45px;
  }
  &__statistic-item{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 370px;
    padding: 40px 20px 40px 35px;
    background: linear-gradient(332.85deg, rgba(3, 142, 233, 0.1) 16.95%, rgba(20, 27, 35, 0) 86.86%), #141B23;
    box-shadow: 0px 30px 100px rgba(255, 255, 255, 0.06), inset 0px 0px 70px rgba(255, 255, 255, 0.16);
    border-radius: 10px;
  }
  &__statistic-num{
    @extend %rfdewi-600;
    font-size: 55px;
    line-height: 74px;
    font-weight: 600;
    text-transform: uppercase;
    color: $secondary;
    margin-right: 35px;
  }
  &__statistic-text{
    @extend %montserat-400;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
  }
}

.function{
  margin-bottom: 500px;
  &__inner{
    display: flex;
  }
  &__list{
    border: 2px solid $border;
    &:first-child{
      border-right: none;
      border-radius: 10px 0 0 10px;
    }
    &:nth-child(2){
      border-radius: 0 10px 10px 0;
    }
  }
  &__list-item{
    display: flex;
    align-items: center;
    padding: 26px 35px 27px 46px;
    max-width: 600px;
    width: 100%;
  }
  &__list-item + .function__list-item{
    border-top: 2px solid $border;
  }
  &__item-img{
    margin-bottom: 0;
    margin-right: 30px;
  }
  &__item-text{
    @extend %montserat-400;
    font-size: 15px;
    line-height: 25px;
    font-weight: 400;
  }
}

.owner{
  &__list{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(274px, 1fr));
    grid-gap: 30px 25px;
    grid-template-rows: max-content;
    counter-reset: owner-counter;
    list-style: none;
  }
  &__list-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px 18px 35px;
    border: 2px solid $border;
    counter-increment: owner-counter;
    position: relative;
    border-radius: 10px;
    &::before{
      content: '0' counter(owner-counter);
      position: absolute;
      @extend %rfdewi-400;
      font-size: 100px;
      line-height: 30px;
      font-weight: 400;
      color: rgba( #ffffff, 0.1);
      text-align: center;
      right: 0;
      left: 0;
      top: 100px;
    }
    &:nth-child(6),
    &:nth-child(7),
    &:nth-child(8){
      &::before{
        top: 150px;
      }
      .owner__item-title{
        margin-bottom: 50px;
      }
    }
    &:nth-child(5){
      &::before{
        top: 150px;
      }
    }
  }
  &__item-title{
    @extend %rfdewi-600;
    font-size: 15px;
    line-height: 30px;
    margin-bottom: 20px;
    text-align: center;
    color: $accent;
    text-transform: uppercase;
    letter-spacing: 0.06em;
  }
  &__item-img{
    height: 105px;
    margin-bottom: 30px;
    object-fit: cover;
    position: relative;
    &::after{
      content: '';
      position: absolute;
      background-image: url('../images/bg/4.png');
      background-repeat: no-repeat;
      width: 134px;
      height: 131px;
      top: -25px;
      left: -37px;
      z-index: -1;
    }
  }
  &__item-text{
    @extend %montserat-400;
    font-size: 13px;
    line-height: 23px;
    font-weight: 400;
    text-align: center;
  }
}

.faq{
  &__list{
    list-style: none;
    counter-reset: faq-counter;
  }
  &__list-item{
    border: 2px solid $border;
    counter-increment: faq-counter;
    position: relative;
    border-radius: 10px;
    &::before{
      content: '0' counter(faq-counter);
      position: absolute;
      @extend %montserat-500;
      font-size: 18px;
      line-height: 25px;
      font-weight: 500;
      color: rgba($color: #fff, $alpha: 0.4);
      left: 50px;
      top: 23px;
    }
    & + .faq__list-item{
      margin-top: 20px;
    }
  }
  &__item-trigger{
    @extend %montserat-400;
    font-size: 15px;
    line-height: 25px;
    padding: 23px 50px 23px 125px;
    position: relative;
    cursor: pointer;
    &::before{
      content: '';
      position: absolute;
      width: 12px;
      height: 20px;
      background-image: url('../images/arrow-down.svg');
      right: 50px;
      top: 23px;
    }
  }
  &__item-content{
    padding: 23px 80px 23px 125px;
    display: none;
    font-size: 15px;
    line-height: 27px;
  }
}

.footer{
  padding-bottom: 113px;
  &__title{
    margin-bottom: 15px;
  }
  &__subtitle{
    @extend %rfdewi-300;
    font-size: 25px;
    line-height: 45px;
    text-align: center;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 30px;
  }
  &__list{
    display: flex;
    justify-content: space-between;
  }
  &__list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(332.85deg, rgba(3, 142, 233, 0.1) 16.95%, rgba(20, 27, 35, 0) 86.86%), #141B23;
    box-shadow: 0px 30px 100px rgba(255, 255, 255, 0.06), inset 0px 0px 70px rgba(255, 255, 255, 0.16);
    border-radius: 10px;
    padding: 23px 20px 33px;
    max-width: 382px;
    width: 100%;
  }
  &__item-title{
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 0.1em;    
    color: #FFFFFF;
    opacity: 0.5;
    margin-bottom: 5px;
  }
  &__item-text{
    @extend %rfdewi-600;
    font-weight: 600;
    font-size: 18px;
    line-height: 45px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
  }
  &__item-btn{
    margin-top: 16px;
  }
}

.popup{
  position: fixed;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 100%;
  overflow: auto;
  height:100%;
  z-index: 21;
  background-color:rgba(0,0,0, .4);
  display: none;
  &_container{
    padding:30px;
    position: absolute;
    max-width: 340px;
    top: 30%;
    margin: 0 auto;
    left: 0;
    right: 0;
    background: white;
    border-radius: 10px;
  }
  &_close{
    position: absolute;
    top: 15px;
    right:15px;
    line-height: 35px;
    font-size: 35px;
    transform: rotate(45deg);
    color: #111111;
    opacity: 0.5;
    cursor: pointer;
    &:hover{
      opacity: 1;
    }
  }
  &_phone{
    width:100%;
    background: white;
    border:1px solid #0000003e;
    height:43px;
    margin-bottom: 15px;
    padding-left: 5px;
    border-radius: 6px;
    &:focus{
      border-color:$accent;
      outline: none;
    }
  }
  &_button{
    display: block;
    outline: none;
    border: none;
    color: #fff;
    width: 200px;
    margin: 0 auto;
    cursor: pointer;
  }
  &_title{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 20px;
    text-align: center;
    color: #111111;
    span{
      color: $accent;
    }
  }
}



@import 'media';